.header {
  background: rgba(27, 28, 29, 0.9);
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 3rem;
}

.logo {

}

.header-title {
  text-align: left;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
/*
.item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: table-cell;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}*/

.item:hover {
  background: #748ffc;
}

.item:active, .item.active {
  background: white;
  color: #5c7cfa;
}