.home-chart {
  
}

.home-title {
  display: inline-block;
  text-align: left;
  font-size: 240%;
  font-weight: 300;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-top: 1rem;
  color: rgba(0,0,0,.75);
}

.home-title-sub {
  display: inline-block;
  text-align: left;
  font-size: 150%;
  padding-left: 1rem;
  color: rgba(0,0,0,.75);
}