* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Helvetica, Arial, Sans-Serif;
  color: rgba(0,0,0,.75);
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.chart {
  background-color: white;
  border-bottom: 2px solid transparent;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2)
}